<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% @todo_lists.each do |todo_list| %>
  <% # byebug %>
  <div class="container"  id=<%= 'todo_list_' + todo_list.id.to_s %>>
    <!-- <div class="index_row clearfix"> -->
      <!-- <h2 class="todo_list_title"> -->
        <table class="todo_list_title_table">
          <tr>
            <td>
              <i class='fa fa-calendar' id='prj_icon'></i>
            </td>
            <td class="td_title">
              <% #link_to todo_list.title, '', :id => 'todo_list_' + todo_list.id.to_s, :remote => true %>
              <%= form_for(todo_list, remote: true) do |f| %>
                <%= f.label "#{todo_list.title}", :id => 'todo_list_' + todo_list.id.to_s %><br>
                <%= f.text_field :title %>
                <% f.submit %>
              <% end %>

            </td>
            <td class="td_right">
              <%= link_to '', class: 'todo_list_edit' do %>
                <i class='fa fa-pencil'></i>
              <% end %> | 
              <%= link_to '#', data: { confirm: 'Are you sure?'} do %>
                <i class='fa fa-trash'></i>
              <% end %>
            </td>
          </tr>
        </table>
      <!-- </h2> -->
      <!-- <p class="todo_list_sub_title"><%= todo_list.description %></p> -->
    <!-- </div> -->
    <div class="todo_items_wrapper" id=<%= 'todo_list_' + todo_list.id.to_s + '_items' %>>
      <div id="form">
        <%= render 'todo_items/form', :todo_list => todo_list%>
      </div>
      <%= render todo_list.todo_items %>
    </div>  
  </div>

<% end %>

<div class="links">
  <%= link_to 'New Todo List', new_todo_list_path %>
</div>

